.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .scrollcontainer {
    flex-grow: 1;
    padding: 20px;
  }
  
  .chapterTile {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
  }

  .chapterTile:hover {
    background-color: rgba(255, 255, 255, 0.4); /* Darken the background color on hover */
    cursor: pointer;
  }
  
  .titleContainer {
    margin-top: 0;
    align-items: center;
    flex: 2;
  }
  
  
  .chapterText {
    font-size: 18px;
    color: #CCCCCC;
  }
  