/* styles.css */

  .quizFinishedContainer {
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 95%;
    border: 1px solid #ccc;
  }
  
  .scorePercent {
    font-size: 30px;
    margin: 10px;
  }
  
  .quizFinishedText {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  .quizScoreText {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color: #fff;
  }
  
  .passedText {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: #fff;
  }
  
  .failedText {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: #fff;
  }
  
  .passingThresholdText {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
  }
  
  .noQuestionsContainer {
    text-align: center;
    margin-top: 20px;
  }
  
  .noQuestionsText {
    font-size: 16px;
  }
  
  .questionContainer {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
  }
  
  
  .optionsContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .optionButton {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    align-items: center;
    cursor: pointer;
  }

  .optionButton:hover {
    border: 1px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
  }
  
  .optionText {
    font-size: 16px;
    text-align: center;
  }
  
  .correctOption {
    background-color: #66bb6a;
  }
  
  .wrongOption {
    background-color: #EF5350;
  }
  
  .nextButton {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    align-items: center;
    cursor: pointer;
    text-align: center;
  }

  .nextButton:hover {
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    color: black
  }
  
  .nextButtonText {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }
  
  .nextButtonDisabled {
    cursor: not-allowed;
  }
  