/* styles.css */

.adView {
    justify-content: center;
    align-items: center;
  }
  
  .container {
    flex: 1;
    padding: 10px;
    justify-content: center;
    width: 100%;
  }
  
  .categoryContent {
    display: flex; /* Use flexbox to make items in the same row */
    justify-content: space-between; /* Add space between items, pushing the checkbox to the right */
    align-items: center; /* Align items vertically in the center */
    padding: 10px;
    cursor: pointer;
  }

  
  .slider {
    width: 50%;
    margin-top: 5px;
  }
  

  
  .categoryItem {
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: white;
    width: 100%;
  }

  .categoryItem:hover {
    background-color: rgba(255, 255, 255, 0.4); /* Darken the background color on hover */
  }
  
  .categoryText {
    font-size: 16px;
    color: black;
  }
  
  .checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #007AFF;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .startButton {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    align-items: center;
    cursor: pointer;
    text-align: center;
  }

  .startButton:hover {
    background-color: rgba(255, 255, 255, 0.4); /* Darken the background color on hover */
    cursor: pointer;
    color: black;
    border: 0px solid #ccc;
  }

  