.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    
  }
  
  .scrollcontainer {
    flex-grow: 1;
    padding: 20px;
  }
  
  