/* styles.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .top-menu {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Ensure the top-menu takes the full width */
    padding: 10px;
  }


  .quizFinishedContainer {
    align-items: center;
    padding: 20px;
    border-radius: 10px;
  }
  
  .scorePercent {
    font-size: 30px;
    margin: 10px;
  }
  
  .quizFinishedText {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  .quizScoreText {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color: #fff;
  }
  
  .passedText {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: #fff;
  }
  
  .failedText {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: #fff;
  }
  
  .passingThresholdText {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
  }
  
  .restartButton {
    background-color: #6495ED;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .restartButtonText {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }
  
  .noQuestionsContainer {
    text-align: center;
    margin-top: 20px;
  }
  
  .noQuestionsText {
    font-size: 16px;
  }

  
  .optionText {
    font-size: 16px;
    text-align: center;
  }
  
  .correctOption {
    background-color: #66bb6a;
  }
  
  .wrongOption {
    background-color: #EF5350;
  }

  