/* setting.css */

  
  .slider {
    width: 100%;
    margin-top: 10px;
  }
  
  .categoryText {
    font-size: 16px;
  }


  .startButtonText:hover {
    cursor: pointer;
    color: black;
  }
  
  .adView {
    justify-content: center;
    align-items: center;
  }
  